
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Are you an idealist?<br/>
        Make your <span class="inline-app-name"><strong>IdealList</strong></span>.</h1>
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Join</button>
        </form>         
      </div><!-- /col-lg-6 -->
      <div class="col-lg-6">
        <%= image_tag "ipad-hand.png", class: "img-responsive" %>
      </div><!-- /col-lg-6 -->
      
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->
